[MASTER]
ignore=CVS,.git,__pycache__,.pytest_cache
jobs=1
persistent=yes

[MESSAGES CONTROL]
disable=C0111,C0103,R0903,R0913,W0703

[REPORTS]
output-format=text
reports=no
score=yes

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,x,ex,_,db,id

[DESIGN]
max-args=8
max-attributes=12
max-branches=15
max-locals=20
max-parents=7
max-public-methods=25
min-public-methods=0